.gitbook-link {
  display: none !important;
}

iframe {
  width: 100%;
  height: 500px;
}

/*maybe add image to sidebar in future*/
/*.book-summary:before {
  position: absolute;
  bottom:200px;
  left:0;
  content: " ";
  background: url(/images/logo.png);
  background-size: 100% 100%;
  width: 100%;
  margin: 2px;
  float: left;
  background-size: cover;
}*/


/*.book .book-summary .expanded > a .exc-trigger:before, .book .book-summary .expanded > span .exc-trigger:before {
  content: "\f0d7" !important;
}
.book .book-summary .exc-trigger:before {
  content: '\f0da' !important;
}*/

.page-inner {
  max-width: 1600px;
}

.navigation-next,
.navigation-prev {
  display: none;
}

img {
  /* text-align: center; */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

tr th {
  background: rgb(61, 84, 103);
  color: white;
}