.d2b-box {
  .d2b-box-dash,
  .d2b-box-center,
  .d2b-box-rect,
  .d2b-box-outlier {
    stroke-width: 1.5px;
  }

  .d2b-box-rect {
    fill: #fff;
    fill-opacity: 0.3;
  }

  .d2b-box-center {
    stroke-dasharray: 3 3;
  }

  .d2b-box-label {
    fill: #555;
    font-size: 10pt;
  }

  .d2b-box-outlier {
    fill: none;
    stroke-opacity: 0.4;
  }
}
